body {
  background-color: rgb(228, 217, 238);
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: rgb(213, 198, 226);
  border: 2px solid rgb(198, 177, 216);
  height: 530px;
  margin: auto;
  margin-top: 20px;
  width: 520px;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  margin-top: 10px;
  padding-right: 10px;
  text-align: right;
  text-shadow: black 4px 2px;
  -webkit-text-stroke: 2px white;
}

.header {
  background-color: rgb(228, 217, 238);
  border: solid 5px rgb(238, 228, 247);
  height: 60px;
  margin: auto;
  margin-bottom: 5px;
  width: 550px;
}

.rgb-color {
  background-color: rgb(228, 217, 238);
  border: solid 5px rgb(238, 228, 247);
  color: black;
  font-size: 30px;
  font-weight: 900;
  height: 50px;
  letter-spacing: 5px;
  margin: auto;
  margin-bottom: 5px;
  padding-top: 8px;
  text-align: center;
}

.balls {
  background-color: rgb(228, 217, 238);
  border: solid 5px rgb(238, 228, 247);
  padding: 10px;
  text-align: center;
}

.ball {
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.answer {
  font-weight: 900;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.header-pos {
  margin-top: 170px;
}