.ball-container {
  display: flex;
  justify-content: center;
}

.ball {
  background: white;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin: 10px;
  width: 50px;
}

.ball:hover {
  filter: brightness(1.2);
}

.rgb-color {
  color: white;
  text-align: center;
}

.title {
  color: white;
  margin: 50px;
  text-align: center;
}

/* Global resets */
body {
  background-color: rgb(29, 31, 32);
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  margin: 0;
  padding: 0;
}
